{% extends 'base.html'%} {% block content %}
<div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px">
  {% for p in data %}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body" style="background-color: #f5f5f5; color: #333333">
        <large class="card-title"><b>{{p.name}}</b></large>
        <br /><small><b>Address : </b>{{p.address}}</small> <br /><small
          ><b>Phone : </b>{{p.phone_number}}</small
        >
        <br /><small><b>Designation : </b>{{p.designation}}</small>
        <br /><small>
          <b>Description : </b>
          <br />
          {{p.description}}
        </small>
        <br />
      </div>
    </div>
  </div>
  {% endfor%}
</div>
{% endblock %}
